@font-face {
    font-family: 'Open Sans';
    src: url('https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
      font-family: 'Open Sans';
      src: url('https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff');
      font-style: normal;
      font-weight: 700;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  .wrapper {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    min-height: 450px;
    background-image: url('https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg');
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    z-index: 0;
  }
  
  .wrapper::before {
    content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color:rgba(0, 0, 0, 0.5);
  }
  
  .container {
    display: flex;
    max-width: 1200px;
    min-height: 450px;
    flex-direction: row;
    margin: 0 auto;
    flex-wrap: wrap;
    box-sizing: border-box;
    
  } 
  
  .header-top {
    display: flex;
    justify-content: space-between;
    z-index: 2;
    width: 1170px;
  }
  
  .main-title {
    font-family: "Open Sans", sans-serif;
    font-size: 45px;
    line-height: 1.7;
    text-transform: uppercase;
    color: #ffffff;
    position: relative;
    width: 690px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    z-index: 2;
    bottom: 14px;
    right: 9px;
  }
  
  .logo {
    width: 180px;
    margin-top: 27px;
    position: relative;
    left: 8px;
  }
  
  .menu {
    margin-top: 38px;
  }
  
  .menu-list {
    display: flex;
    list-style-type: none;
    position: relative;
    left: 7px;
  }
  
  .menu-item {
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    margin-left: 35px;
    font-size: 13px;
    text-transform: uppercase;
    color: #ffffff;
  }
  
  .box {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    
  }
  
  time {
    font-family: "Open Sans", sans-serif;
    display: block;
    font-size: 12px;
    color: #888888;
    margin-right: 12px;
    
  }
  
  .main {
    width: 778px;
  }
  
  .news {
    width: 272px;
  }
  .wrp {
      display: flex;
      justify-content: space-between;
      max-width: 1200px;
      margin-top: 59px;
      padding-left: 15px;
      padding-right: 15px;
  }
  
  .card {
    display: flex;
    margin-bottom: 60px;
  }
  
  .card:last-child {
    margin-bottom: 0;
  }
  
  .small-card {
    display: flex;
    margin-bottom: 19px;
  }
  
  .small-card:last-child {
    margin-bottom: 0;
  }
  
  .card-wrp {
    margin-top: 20px;
  }
  
  .card-item{
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    margin-right: 20px;
    color: #b59f5b;
  }
  
  
  .card-list {
    display: flex;
    list-style-type: none;
    margin-bottom: 6px;
  }
  
  .card-title {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    color: #0f0d0e;
    margin-top: 17px;
  }
  .card-time {
    display: flex;
    margin-top: 23px;
  }
  
  .cite {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 700;
    
  }
  
  
  
  .card-about {
    margin-left: 30px;
  }
  
  .card-img {
    width: 381px;
  }
  
  .card-text {
    margin-top: 47px;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #0f0d0e;
    line-height: 1.5;
  }
  
  .lead {
    margin-bottom: 6px;
  }
  
  .section-title {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: #0f0d0e;
    text-transform: uppercase;
    
    
  }

   /* TRENDS*/

  .trends-title {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-size: 23px;
    font-weight: 700;
    color: #0f0d0e;
    text-transform: uppercase;
    padding-top: 63px;
    padding-bottom: 30px;
  }

  .trends-title::after {
    content: '';
    display: block;
    width: 66px;
    margin: 10px auto 0;
    border-bottom: 3px solid #e1d9bd;
  }

  .trend-box {
    display: flex;
    gap: 4px;
  }

  .trend-article {
    display: flex;
    width: 25%;
    min-height: 310px;
    background-color: #eff6f1;
  }

  .trend-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 17px 19px;
    position: relative;
    
  }

  .trend-container::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #000;
    opacity: 0.6;
  }

  .trend-about {
    border: solid #847b3e 3px;
    padding: 38px;
    max-height: 320px;
    
    z-index: 1;
  } 

  .trend-list {
    display: flex;
    list-style-type: none;
    margin-bottom: 15px;
  }

  .trend-item {
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    margin-right: 20px;
    color: #b59f5b;
  }

  .trend-link {
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase
  }

  .trend-1 {
    background-image: url("https://github.com/netology-code/mq-diploma/blob/master/sources/img/trend1.jpg?raw=true");
    background-size: cover;
    background-repeat: no-repeat; 
  }

  .trend-2 {
    background-image: url("https://github.com/netology-code/mq-diploma/blob/master/sources/img/trend2.jpg?raw=true");
    background-size: cover;
    background-repeat: no-repeat; 
  }

  .trend-3 {
    background-image: url("https://github.com/netology-code/mq-diploma/blob/master/sources/img/trend3.jpg?raw=true");
    background-size: cover;
    background-repeat: no-repeat; 
  }

  .trend-4 {
    background-image: url("https://github.com/netology-code/mq-diploma/blob/master/sources/img/trend4.jpg?raw=true");
    background-size: cover;
    background-repeat: no-repeat; 
  }

  
  .section-title::after {
    content: '';
    display: block;
    width: 66px;
    margin: 10px auto 0;
    border-bottom: 3px solid #e1d9bd; 
  }
  
  .small-title {
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    color: #0f0d0e;
    text-transform: uppercase;
    margin-top: 5px;
    
  }
  .small-img {
    width: 73px;
    height: 73px;
  }
  
  
  .small-about {
    margin-left: 16px
  }
  
  .sidebar {
    width: 272px;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  } 
  
  .search-form {
    padding: 15px;
    width: 223px;
    border: 0;
    background-color: #f4f7f6;
    outline: none;
    box-sizing: border-box;
  
  }
  
  .search-btn {
    width: 50px;
    height: 50px;
    background-image: url('https://netology-code.github.io/html-2-diploma/sources/images/search.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #b59f5b;
    border: 0;
    cursor: pointer;
  }
  
  .search {
    display: flex;
    margin-top: 60px;
  }
  
  .mail {
    margin-top: 62px;
    margin-bottom: 62px;
  }
  
  .email {
    margin-top: 23px;
  
  }
  
  .email-form {
    padding: 15px;
    box-sizing: border-box;
    outline: none;
    border: 0;
    background-color: #f4f7f6;
    width: 100%;
    
  } 
  
  .sub-btn {
    background-color: #b59f5b;
    width: 100%;
    height: 50px;
    border: 0;
    cursor: pointer;
    margin-top: 16px;
  }
  
  .sub {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    
  }
  
  .tag-list {
    list-style-type: none;
    margin-top: 24px;
  
   
  }
  
  .tag-item {
    display: inline-flex;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: #0f0d0e;
    font-size: 12px;
    border: 3px solid #eeeeee;
    margin-right: 12px;
    margin-bottom: 4px;
    padding: 6px 9px 5px 10px;
    
  }
  
  .tag {
    width: 100%;
    margin-bottom: 62px;
  }
  
  .theme-list {
    list-style-type: none;
    margin-top: 25px;
  }
  
  .theme-item {
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    color: #000000;
  }
  
  .theme-item::after {
    content: '';
    display: block;
    width: 272px;
    margin: 5px auto 19px;
    border-bottom: 1px solid #eeeeee;
  }
  
  sup {
    color: #b59f5b;
    margin-left: 4px;
  }

/*----------------------------------------------------*/

  .shop-title {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #0f0d0e;
    text-transform: uppercase;
    margin-top: 64px;
    margin-bottom: 30px;
  }

  .shop-title::after {
    content: '';
    display: block;
    width: 66px;
    margin: 10px auto 0;
    border-bottom: 3px solid #e1d9bd;
  }
  
  .shop-container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    gap: 60px;
  
  }

  .card-product {
    display: flex;
    flex-direction: column;
    width: 33.333%;
    align-items: center;
  }

  .product-img {
    display: block;
    max-width: 300px;
    height: 204px;
    
  }

  .about-product{
    display: flex;
    flex-direction: column;
    border: 4px solid #d5c9a3;
    padding: 50px 25px;
    margin-top: -30px;
    flex-grow: 1;
  }

  .about-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 28px;
  }

  .product-title {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #0f0d0e;
  }

  .product-text {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #0f0d0e;
    
  }

  .product-link {
    text-decoration: none;
    color: #d5c9a3;
  }

  .price {
    display: flex;
    flex-direction: column;
  }

  .old-price {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-decoration: line-through;

  }

  .new-price {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
  }

  .in-shop {
    width: 140px;
    height: 48px;
    border: none;
    background-color: #b59f5b;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    border-top: 1px solid #e1d9bd;
  }

  .in-shop:hover {
    cursor: pointer;
  }


  /*______________________________________________________*/

  .holder {
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .icon {
    box-sizing: border-box;
    min-height: 83px;
    width: 100%;
    background-color: #f4f7f6;
    padding-top: 31px;
    padding-bottom: 32px;
    margin-top: 64px;
    margin-bottom: 73px;
  }
  
  .icon-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }
  
  .social-icon {
    width: 20px;
    height: 20px;
    display: block;
    margin-right: 30px;
    
  }
  
  .social-icondribbble {
    background-image: url('https://netology-code.github.io/html-2-diploma/sources/images/social/001-dribbble.svg');
    width: 20px;
    height: 20px;
  }
  
  .social-iconpinterest {
    background-image: url('https://netology-code.github.io/html-2-diploma/sources/images/social/002-pinterest.svg');
  }
  
  .social-icontumblr {
    background-image: url('https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg');
  }
  
  .copyright {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 42px;
  }
  
  .copy {
    color: #999999;
    text-decoration: none;
  }